# Données (volumineuses / sous licence — ne pas committer)
# data/*.csv
!data/README.md

# Sorties générées
outputs/*
!outputs/.gitkeep
logs/
*.db
*.jsonl


# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env


# Jupyter
.ipynb_checkpoints/

# OS / éditeurs
.DS_Store
.vscode/
.idea/

# MLFlow
app/mlflow/


